#demo {
 margin: 200px auto;
 width: 800px;
}

.element {
  width: 60px;
  height: 40px;
  background-color: rgb(30,70,100);
  display: inline-block;
  margin: 5px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.fetched {
  background-color: red;
  position: absolute;
  color: blue;
}

.compared {
  outline: 3px brown solid;
}

#bus {
  z-index: 9;
  height:20px;
  width: 30px;
  /*margin: 0 auto;*/
  position: relative;
  bottom: 20px;
  left: 15px;
  background-color: green;
}
